@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

:root {
  --primary-color: #814bc6;
  --secondary-color: #000000;
  --terciary-color: #f3960b;
  --fourth-color: #ffffff;
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

/* CREACION DEL MENU SUPERIOR */

header {
  background-color: var(--fourth-color);
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 5px;
  z-index: 10;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 20%;
}

.enlaces {
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#logo {
  position: relative;
  right: 15px;
  height: 80%;
}

#logoMini {
  padding: 5px;
  margin: 5px;
  height: 80%;
}

.enlaces:hover {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
}

.icons {
  height: 35px;
  width: 35px;
  padding: 5px;
  filter: invert(100%);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

#panelUsuario {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
}

/* CAMBIOS AL HEADER PARA LA VERSION MOVIL */

@media screen and (max-width: 800px) {
  .icons:hover {
    background-color: var(--primary-color);
    filter: invert(0%);
    border-radius: 12px;
  }

  .nombresEnlaces {
    display: none;
  }

  #panelUsuario {
    width: 30%;
  }
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* HERO */

#hero {
  background-color: var(--terciary-color);
  width: 100%;
  height: 1fr;
  min-height: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#hero > div {
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 60%;
  padding: 5px;
  max-width: 650px;
  min-width: 300px;
  gap: 20px;
}

/* ANIMACION PARA EL HERO */

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

#hero > div > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px;
  min-width: 300px;
  animation: aparecer 1s linear;
}

#hero > img {
  width: 50%;
  max-width: 650px;
  min-width: 400px;
}

/* PARTE DEL CATALOGO */

#productos {
  background-color: var(--fourth-color);
  width: 100%;
  height: 1fr;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#productos article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.articulos {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  flex-basis: 200px;
  flex-grow: 1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
}

.articulos > img {
  width: 100%;
  padding: 15px;
}

.articulos > p {
  margin: 5px;
}

.articulos img:hover {
  transform: scale(1.1);
}

.botones {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  font-size: 18px;
  border: 0px;
  border-radius: 15px;
  padding: 4px 10px;
  color: var(--fourth-color);
  background-color: var(--primary-color);
}

button:hover {
  font-size: 18px;
  border: 0px;
  border-radius: 15px;
  padding: 4px 10px;
  color: var(--fourth-color);
  background-color: var(--secondary-color);
}

/* PARTE DE LA OPINION DE COMPRADORES*/

#opiniones {
  background-color: var(--fourth-color);
  width: 100%;
  height: 1fr;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#opiniones article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.Opinion {
  padding: 5px;
  flex-basis: 200px;
  flex-grow: 1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
}

.Opinion > p {
  font-size: 20px;
  padding-bottom: 5px;
}

.Opinion > img {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  margin: 10px;
}

/* PIE DE LA PAGINA */

footer {
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 1fr;
  padding: 40px 20px 0px 20px;
  margin: auto;
  gap: 20px;
  padding-bottom: 40px;
}

footer section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 15px;
}

footer ul {
  list-style-type: none;
  flex-basis: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
}

footer a {
  color: var(--fourth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a:hover {
  color: var(--terciary-color);
}

.iconsFooter {
  height: 25px;
  width: 25px;
  margin: 0 10px;
  filter: invert(100%);
}

hr{
  width: 100%;
}

/* ADAPTAR TODO EL MAIN AL FORMATO MOVIL */

@media screen and (max-width: 800px) {
  main {
    width: 100%;
  }
}
